<section id="fh5co-home" data-section="home" style="background-image: url('/images/revolution/template_revolution/space.jpg');"
    data-stellar-background-ratio="0.5">

    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="to-animate">Softwares by Solutions Tech</h1>
                        <h2 class="to-animate">Não vendemos produtos ou serviços, vendemos soluções que agregam
                            valores para sua empresa. Desenvolvendo Soluções para sua Empresa com Tecnologia de
                            ponta. </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-services" data-section="services">
    <div class="fh5co-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Solutions Tech</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Não vendemos produtos ou serviços, vendemos soluções que agregam
                                valores para sua empresa. Desenvolvendo Soluções para sua Empresa com Tecnologia de
                                ponta. </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="core-features mb-5">
                    <div class="grid2 to-animate mb-5" style="background-image: url(/images/revolution/contact/01.png);">
                    </div>
                    <div class="grid2">
                        <div class="core-f">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="core">
                                        <i class="icon-cloud-download to-animate-2"></i>
                                        <div class="fh5co-post to-animate">
                                            <h3>Cardápio Virtual gratuito</h3>
                                            <p>Além da flexibilidade para renovar no cardápio, permite que a avaliação
                                                do atendimento seja feita em tempo real, além de ser seguro, higiênico e
                                                sustentável.</p>
                                        </div>
                                    </div>
                                    <div class="core">
                                        <i class="icon-laptop to-animate-2"></i>
                                        <div class="fh5co-post to-animate">
                                            <h3>Ecommerce - Loja Virtual</h3>
                                            <p>Uma das opções mais buscadas para quem possui uma loja física e gostaria
                                                de ampliar seu público é a criação de um e-commerce.</p>
                                        </div>
                                    </div>
                                    <div class="core">
                                        <i class="icon-gear to-animate-2"></i>
                                        <div class="fh5co-post to-animate">
                                            <h3>Sitemas Personalizados</h3>
                                            <p>Sistemas construídos a partir das necessidades da sua empresa.</p>
                                        </div>
                                    </div>
                                    <div class="core">
                                        <i class="icon-columns to-animate-2"></i>
                                        <div class="fh5co-post to-animate">
                                            <h3>Marketing Digital</h3>
                                            <p>Criar uma presença digital é fundamental para gerar negócios, afinal, se
                                                o seu público-alvo está na internet a sua marca também precisa estar lá,
                                                para não perder as inúmeras oportunidades de gerar vendas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fh5co-counter-section" class="fh5co-counters"
                style=" magin-top: 60px;background-color: rgba(255, 255, 255, 0); border-radius: 15px;">
                <div class="container">
                    <h2 class="text-center">Novidades</h2>
                    <hr style="margin-left: 15%; width: 70%; margin-bottom: 50px; color:rgba(255, 255, 255, 0.178);">
                    <div class="row to-animate">
                        <div class="col-md-3 text-center">
                            <span class="fh5co-counter js-counter " style="color: white;" data-from="0" data-to="3452"
                                data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label" style="color: white;">Cups of Coffee</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="fh5co-counter js-counter" style="color: white;" data-from="0" data-to="234"
                                data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label" style="color: white;">Client</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="fh5co-counter js-counter" style="color: white;" data-from="0" data-to="6542"
                                data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label" style="color: white;">Projects</span>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="fh5co-counter js-counter" style="color: white;" data-from="0" data-to="8687"
                                data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label" style="color: white;">Finished Projects</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="fh5co-explore" data-section="explore">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/revolution/banner/security.jpg" class="d-block w-100" alt="/images/revolution/banner/ecommerce.jpg">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Abordar assuntos sobre Segurança</h5>
                    <p>Quisque mi justo, euismod id ultricies ut, fermentum nec mauris. Nam in turpis erat. In vitae
                        condimentum tellus. Integer tortor eros, aliquet eu consectetur sed, posuere in mi. Donec eu
                        purus in ex vehicula gravida vel lobortis nisl. Vivamus vitae neque et libero hendrerit
                        tristique. In vehicula quis enim quis dignissim. Integer ac ipsum ac velit viverra mattis.
                        Maecenas dictum tempus nibh, quis ultricies dolor consectetur in. Nunc luctus, nisi et
                        pellentesque sodales, magna dolor interdum nibh, eu semper enim lectus eu lorem. Praesent
                        vulputate, dolor sit amet ullamcorper maximus, metus justo vestibulum libero, et consequat
                        orci magna ac sem. Etiam eleifend lectus ac felis egestas sodales. Curabitur placerat felis
                        lobortis hendrerit elementum.

                    </p>
                    <div class="row mb-5">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-dark" style="background-color: rgba(0, 0, 0, 0.377);">Saber
                                Mais</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/revolution/banner/settings.jpg" class="d-block w-100" alt="/images/revolution/banner/ecommerce.jpg">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Abordar assuntos sobre Configurações personalizadas</h5>
                    <p>Quisque mi justo, euismod id ultricies ut, fermentum nec mauris. Nam in turpis erat. In vitae
                        condimentum tellus. Integer tortor eros, aliquet eu consectetur sed, posuere in mi. Donec eu
                        purus in ex vehicula gravida vel lobortis nisl. Vivamus vitae neque et libero hendrerit
                        tristique. In vehicula quis enim quis dignissim. Integer ac ipsum ac velit viverra mattis.
                        Maecenas dictum tempus nibh, quis ultricies dolor consectetur in. Nunc luctus, nisi et
                        pellentesque sodales, magna dolor interdum nibh, eu semper enim lectus eu lorem. Praesent
                        vulputate, dolor sit amet ullamcorper maximus, metus justo vestibulum libero, et consequat
                        orci magna ac sem. Etiam eleifend lectus ac felis egestas sodales. Curabitur placerat felis
                        lobortis hendrerit elementum.
                    </p>
                    <div class="row mb-5">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-dark" style="background-color: rgba(0, 0, 0, 0.377);">Saber
                                Mais</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/images/revolution/banner/connectingWord.jpg" class="d-block w-100" alt="/images/revolution/banner/ecommerce.jpg">
                <div class="carousel-caption d-none d-md-block">
                    <h5> Conectividade</h5>
                    <p>
                        Vivenciamos uma era em que a internet virou parte do nosso dia a dia, de acordo com um estudo
                        promovido pelo Hootsuite em parceiria com a agência We Are Social apontou que aproximadamente
                        4,7 bilhões de pessoas estão conectadas á internet atualmente. Com esses dados vemos a
                        importância de investirmos em tal área que cada dia cresce mais e mais. Afinal quem não e visto
                        não e lembrado.
                    </p>
                    <div class="row mb-5">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-dark" style="background-color: rgba(0, 0, 0, 0.377);">Saber
                                Mais</button>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="fh5co-pricing" data-section="pricing">
    <div class="fh5co-pricing">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate ">Planos na Promoção</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate ">Far far away, behind the word mountains, far from the
                                countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live in
                                Bookmarksgrove. </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan ">Gratis Trial</h2>
                        <div class="price "><sup class="currency">R$</sup>69,90<small>/mês</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info " style="text-align: left;">
                            <li>Cardápio Virtual</li>
                            <li>Fechamento de Caixa</li>
                            <li>Sistema de Balcão</li>
                            <li style="text-decoration: line-through; color:grey;">Cálculo Adm</li>
                            <li style="text-decoration: line-through; color:grey;">Controle de Estoque</li>
                            <li style="text-decoration: line-through; color:grey;">Entregas via GPS</li>
                            <li style="text-decoration: line-through; color:grey;">Dashboard</li>
                            <li style="text-decoration: line-through; color:grey;">Interface Personalizada</li>
                            <li style="text-decoration: line-through; color:grey;">Aplicativo</li>
                            <li>1 usuário</li>

                        </ul>
                        <p><a href="#" class="btn btn-danger">Saiba Mais</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan ">Regular</h2>
                        <div class="price "><sup class="currency">R$</sup>89,90<small>/mês</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info ">
                            <li>Cardápio Virtual</li>
                            <li>Fechamento de Caixa</li>
                            <li>Sistema de Balcãos</li>
                            <li>Cálculo Adm</li>
                            <li style="text-decoration: line-through; color:grey;">Controle de Estoque</li>
                            <li style="text-decoration: line-through; color:grey;">Entregas via GPS</li>
                            <li style="text-decoration: line-through; color:grey;">Dashboard</li>
                            <li style="text-decoration: line-through; color:grey;">Interface Personalizada</li>
                            <li style="text-decoration: line-through; color:grey;">Aplicativo</li>
                            <li>2 Usuários</li>
                        </ul>
                        <p><a href="#" class="btn btn-danger">Saiba Mais</a></p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 to-animate">
                    <div class="price-box popular">
                        <div class="popular-text" style="background: rgba(255, 0, 0, 0.822);">Promoção</div>
                        <h2 class="pricing-plan ">Plus</h2>
                        <div class="price "><sup class="currency">R$</sup>149,99<small>/mês</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info ">
                            <li>Cardápio Virtual</li>
                            <li>Fechamento de Caixa</li>
                            <li>Sistema de Balcão</li>
                            <li>Cálculo Adm</li>
                            <li>Controle de Estoque</li>
                            <li>Entregas via GPS</li>
                            <li>Dashboard</li>
                            <li>Interface Personalizada</li>
                            <li style="text-decoration: line-through; color:grey;">Aplicativo</li>
                            <li>3 Usuários</li>
                        </ul>
                        <p><a href="#" class="btn btn-danger">Saiba Mais</a></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 ml-1">
                    <div class="price-box to-animate">
                        <h2 class="pricing-plan ">Enterprise</h2>
                        <div class="price "><sup class="currency">R$</sup>180<small>/mês</small></div>
                        <p>Basic customer support for small business</p>
                        <hr>
                        <ul class="pricing-info ">
                            <li>Cardápio Virtual</li>
                            <li>Fechamento de Caixa</li>
                            <li>Sistema de Balcão</li>
                            <li>Cálculo Adm</li>
                            <li>Controle de Estoque
                            <li>Entregas via GPS</li>
                            <li>Dashboard</li>
                            <li>Interface Personalizada</li>
                            <li>Aplicativo</li>
                            <li>4 Usuários</li>
                        </ul>
                        <p><a href="#" class="btn btn-danger">Saiba Mais</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<article>
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>FUNCIONALIDADES</h5>
                <p>Sistema que visa facilitar o atendimento e processos do restaurante, com a intenção de facilitar a
                    vida dos clientes e funcionários, com ferramentas que auxiliam na visualizão de preços e pratos,
                    facilidade ao atualizar o cardápio, quadro de status do pedido, dados de novos clientes e cliente já
                    cadastrados
                    temos tbm rotas de entregas via gps através do celular.</p>
            </div>
            <div class="col">
                <h5>FUNCIONALIDADES</h5>
                <p>Visamos também facilitar os fechamento do caixa, trazendo dados de gastos, lucros, pedidos
                    cancelados, pedidos entregues e produtos mais vendidos, visando evitar
                    desperdicíos e gastos desnecessários. Temos também ferramenta de contro lhe de estoque a qual o
                    vendedor adiciona seu estoque e conforme ele sai vai dando baixa nos produtos.</p>
            </div>
            <div class="col">
                <h5>FUNCIONALIDADES</h5>
                <p>Nossa empresa busca sempre estar por dentro de novas oportunidades e com isso criamos também um
                    aplicativo, a qual tem a intenção de manter o vínculo de loja e cliente, com promoções e cupons de
                    descontos focando na fidelização do cliente. .</p>
            </div>
        </div>
    </div>
</article>

<section id="fh5co-team" data-section="team">
    <div class="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Equipe Solutions Tech</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Far far away, behind the word mountains, far from the countries
                                Vokalia and Consonantia, there live the blind texts. Separated they live in
                                Bookmarksgrove. </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="/images/team/IsaacDSC.jpg" alt="Roger Garfield">
                        </div>
                        <h3>Isaac DSC</h3>
                        <span class="position">Co-Founder, Lead Developer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                            <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="/images/team/IsaacDSC.jpeg"
                                alt="Photo Matheus Mendes">
                        </div>
                        <h3>Matheus Mendes</h3>
                        <span class="position">Co-Founder, Product Designer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                            <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="/images/team/Raissa.jpg" alt="Roger Garfield">
                        </div>
                        <h3>Raissa Raquel</h3>
                        <span class="position">Full Stack Developer</span>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                            the Semantics, a large language ocean.</p>
                        <ul class="social-media">
                            <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
                            <li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="getting-started getting-started-1">
    <div class="getting-grid" style="background-color: white;">
        <div class="desc text-center">
            <h2 class="mt-5" style="color: black;">Comece Agora!</h2>
            <p style="color: black; font-size: large;">Sistemas personalizados, Integrações de sistemas, Upgrade de
                sistemas legados, Digitalizações de sistemas, Lojas virtuais, Sistema de Menu Digital, Sistemas de
                Ordem de Serviços, Sistemas controle de stock, entre outros... </p>
            <hr>
            <div class="row">
                <div class="col">
                    <img src="/images/revolution/integrations/mercadoPago.png" width="110" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/Ifood.png" class="mt-4" width="110" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/mercadolivre.png" class="mt-4" width="210" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/B2W.png" class="mt-2" width="100" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/melhorenvio.png" class="" width="150" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/correios.png" class="mt-5" width="150" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/webmaniabr.png" class="mt-5" width="250" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/wpp.png" class="mt-5" width="100" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/shopee.png" class="mt-5" width="100" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/azure.png" class="mt-5" width="180" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/ADP-LOGO.png" class="mt-5" width="100" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/DRIVE.png" class="mt-5" width="100" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/amazon.png" class="mt-5" width="150" alt="">
                </div>
                <div class="col">
                    <img src="/images/revolution/integrations/facebook.jpg" class="" width="300" alt="">
                </div>
            </div>
            <hr>
            <small class="text-dark mb-5">#Empresas Corporativas #Empresas de serviços #Bebidas #Carros #Lachonetes
                #Pizzarias</small>
            <p><a href="#" class="btn btn-danger mt-3">Mais Informações</a></p>
        </div>
    </div>
</div>