<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/solutions" class="brand-link">
        <img src="/images/logotipo/logo1.png" alt="AdminLTE Logo" width="230">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/profile/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="/dashboard/profile" class="d-block">Developing Solutions</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="https://www.notion.so/a5dde713958645dcbf6f8164e69cfa41?v=ca11d73a1bc84b24b3a72b4b3bf0df6e"
                                target="_blank" class="nav-link">
                                <i class="fab fa-trello"></i>
                                <p>Notion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/notes" class="nav-link">
                                <i class="fas fa-sticky-note"></i>
                                <p>Bloco de notas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.notion.so/a5dde713958645dcbf6f8164e69cfa41?v=ca11d73a1bc84b24b3a72b4b3bf0df6e"
                                target="_blank" class="nav-link">
                                <i class="fab fa-trello"></i>
                                <p>Notion</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/notes" class="nav-link">
                                <i class="fas fa-sticky-note"></i>
                                <p>Bloco de notas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/solutions" class="nav-link">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="fas fa-user-tie"></i>
                        <p>
                            ADMINISTRATIVAS
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/solutions/dealers" class="nav-link">
                                <i class="fas fa-user-friends"></i>
                                <p class="text">Revendedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/solutions/contacts" class="nav-link">
                                <i class="fas fa-file-signature"></i>
                                <p class="text">Contatos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://adminlte.io/docs/3.0/" target="_blank" class="nav-link">
                                <i class="fas fa-receipt"></i>
                                <p>Ordem de Serviços</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://nubank.com.br/" target="_blank" class="nav-link">
                                <i class="fas fa-university"></i>
                                <p>Nubank</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://app.totalmei.com/" target="_blank" class="nav-link">
                                <i class="fas fa-user-check"></i>
                                <p>MEI</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">PAGINAS DIVULGATIVAS</li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/DevelopingSolutiosTech" target="_blank" class="nav-link">
                        <i class="fab fa-facebook"></i>
                        <p>Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/solutionstech_official/" target="_blank" class="nav-link">
                        <i class="fab fa-instagram"></i>
                        <p>Instagram</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://adminlte.io/docs/3.0/" target="_blank" class="nav-link">
                        <i class="fab fa-youtube"></i>
                        <p>Youtube</p>
                    </a>
                </li>

                <li class="nav-header">MARKETING TOOLS</li>
                <li class="nav-item">
                    <a href="https://marketingtooly.herokuapp.com/account/login" target="_blank" class="nav-link">
                        <i class="fas fa-funnel-dollar"></i>
                        <p class="text">Sistema</p>
                    </a>
                </li>

                <li class="nav-header">MARKETING TOOLS</li>
                <li class="nav-item">
                    <a href="https://marketingtooly.herokuapp.com/account/login" target="_blank" class="nav-link">
                        <i class="fas fa-funnel-dollar"></i>
                        <p class="text">Sistema</p>
                    </a>
                </li>

                <li class="nav-header">CONFIGURAÇÕES</li>
                <li class="nav-item">
                    <a href="/config" class="nav-link">
                        <i class="fas fa-cogs"></i>
                        <p class="text">Config Gerais</p>
                    </a>
                </li>

                <li class="nav-header">CONFIGURAÇÕES</li>
                <li class="nav-item">
                    <a href="/config" class="nav-link">
                        <i class="fas fa-cogs"></i>
                        <p class="text">Config Gerais</p>
                    </a>
                </li>


                <li class="nav-header">SOLUTIONS TECH</li>
                <li class="nav-item mb-5">
                    <a href="https://solutionstech.com.br/systems/ecommerce" target="_blank" class="nav-link">
                        <i class="far fa-file-code"></i>
                        <p class="text"><small>solutionstech.com.br</small></p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>