<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions Tech</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/dashboard/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/dashboard/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/css/dashboard/adminlte.min.css">
</head>

<body {{!-- onload="carregou()" --}}
    class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    {{>_navDashboard}}
    {{>_asidebarDashboard}}
    <div class="content-wrapper">
        {{{body}}}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <script src="/dashboard/plugins/jquery/jquery.min.js"></script>
    <script src="/dashboard/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dashboard/dist/js/adminlte.js"></script>
    <script src="/dashboard/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="/dashboard/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/dashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/dashboard/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/dashboard/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="/dashboard/plugins/chart.js/Chart.min.js"></script>
    <script src="/js/dashboard/demo.js"></script>
    <script src="/js/dashboard/dashboard2.js"></script>

</body>

</html>